@font-face {
    font-family: google-sans;
    src: url(../resources/fonts/GoogleSans-Regular.ttf);
}


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: google-sans;
    padding-top: 15px;
}


/* navigation bar styles */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.navbar {
    color: #3751FE;
    height: 70px;
}

.navbar ul {
    display: flex;
}


.navbar a {
    padding: 10px;
    margin: 0 5px;
    color: #000;
}

.navbar a:hover {
    border-bottom: 2px solid #3751FE;
}

.navbar .flex {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    padding-top: 10px;
}


.flex {
    display: flex;
}



/* main page grid styles */
.grid {
    display: grid;
    margin: 0 auto;
    gap: 50px;
    grid-template-columns: 583px  auto auto;
    padding-top: 40px;
}

.grid h1{
    color: #3751FE;
    font-weight: 300;
    padding-bottom: 50px;
}

label{
    color: #3751FE;
}

#clickMe{
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #3751fe;
}

.bmi-info{
    padding-top: 100px;
    max-width: 350px;
    color: #333;
    font-size: 12px;
}

#fitPic{
    width: 360px;
    height: 520px;
}



/* result panel styles */
.grid-container {
    display: grid;
    grid-template-columns: 347px auto auto;
    width: 1014px;
    height: 549px;
    position: absolute;
    left: 900px;
    top: 220px;
    border: 3px solid #3751FE;
    border-radius: 10px;
    zoom: 0.75;
}

.grid-item1{
    padding-left: 25px;
    padding-top: 50px;
}


.grid-item2 {
    border-radius: 0 10px 10px 0;
    width: 660px;
    height: 543px;
}

h5{
    font-size: 22px;
    font-family: google-sans;
    padding-top: 15px;
}

ol{
    font-size: 20px;
    font-family: google-sans;
    padding-top: 20px;
    padding-left: 25px;
}

