.grid {
    display: grid;
    margin: 0 auto;
    gap: 50px;
    grid-template-columns: 528px auto;
    padding-top: 40px;
}

label {
    color: #3751fe;
    font-size: 18px;
}

.h11 {
    color: #3751fe;
    font-weight: 300;
    padding-bottom: 30px;
}


.btn1 {
    width: 250;
    height: 25px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #3751fe;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#fitPic {
    width: 474px;
    height: 428px;
  }